.wrapper{
    margin:0 auto;
    width:900px;
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(194, 162, 115);
    border-radius: 10px;
}
.header{
    text-decoration: underline;
    text-align: center;
    background-color: rgb(197, 96, 2);
}
.right{
    background-color: rgb(123, 255, 47);
    text-align: center;
    padding-left:5px;
}
.wrong{
    background-color: red;
    text-align: center;
    padding-left:5px;
}
.hidden{
    display: none;
}
#btn1{
    background-color: rgb(255, 196, 0));
}
.opend{
    background-color: red;
}